*{
	box-sizing: border-box;
}
*[href]{
	cursor: pointer;
	color:#2e92cf !important;
}
*[href]:hover{
	color:rgba(45, 173, 237, 0.8) !important;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td,
hr,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
b,
strong,
section,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
	font-family: "微软雅黑", "Microsoft Yahei" !important;
	list-style: none;
}
body {
	background-size: cover;
}

#nav-left {
	position: fixed;
	width: 0;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 130px 0 50px;
	z-index: 1000;
	overflow: hidden;
}
#nav-left #tags div {
	width: 100%;
	line-height: 2em;
	cursor:pointer;
}
#nav-left #tags .snow-catalog-item{
	padding:0 10px;
	white-space: nowrap;
}
#nav-left #tags .snow-catalog-item:hover{
	background:#202020;
}
#nav-left #tags .snow-catalog-item.active {
	background:white;
	color:black;
}
#nav-right {
	position: fixed;
	width: 75px;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 50px 0;
	z-index: 1000;
	text-align: right;
	/*display: none;*/
}
#nav-right li{
	width:100%;
	height:55px;
	margin-bottom: 20px;
	color: white;
	text-align: center;
	padding: 5px 10px;
	font-size: .8em;
	cursor:pointer;
	position: relative;
	background: #333;
}
#nav-right li:hover{
	background: #1ba1e2;
}
#nav-right li .icon{
	font-size: 1.5em;
}
#nav-right li#snow-lang{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 75px;
}
#nav-right .snow-login{
	position: fixed;
	right:-155px;
	height: 55px;
	text-align: left;
	/*font-size: larger;*/
	background: #1ba1e2;
	width:155px;
	z-index: -1;
}
#nav-right .snow-login a{
	height: 55px;
	display: inline-block;
	width: 75px;
	padding: 10px 5px;
	text-align: center;
	color: white !important;
}
#nav-right .snow-login a:hover{
	background:#333;
}
#logo{
	width: 160px;
	height: 70px;
	line-height: 70px;
	background: #1ba1e2;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	position: fixed;
	transform: rotate(-45deg);
	left: -48px;
	top: -3px;
	letter-spacing: 2px;
}
#snow-lang .snow-languages{
	position:absolute;
	height:100%;
	top:0;
	right:-552px;
	text-align: left;
	font-size: larger;
	background: #1ba1e2;
	width:552px;
	z-index: -1;
}
#snow-lang .snow-languages a{
	height: 55px;
	display: inline-block;
	width: 75px;
	padding: 15px 5px;
	text-align: center;
	color: white !important;
}
#snow-lang .snow-languages a:hover{
	background:#333;
}
div.nav-info-box {
	z-index: 900;
}
div.nav-info {
	z-index: 901;
	color: white !important;
}
div.nav-info,
div.nav-info-box {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -1000px;
	width: auto;
}
#snow-sign {
	position: fixed;
	left: 0;
	right: 0;
	top: -2000px;
	height: 100%;
	width: 400px;
	margin: 0 auto;
	color: white !important;
	z-index: 1000;
}
/*左侧框*/

#snow-left {
	position: fixed;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
/*#snow-left .content {
	height: 100%;
	position: relative;
	max-width: 700px;
	min-width: 300px;
	padding: 0 20px;
	width: 100%;
	
} */

/*列表项*/

.horizontal-list ul,
.horizontal-list dl {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	overflow: hidden;
	width: 100%;
}
.horizontal-list ul li {
	/*font-size: .8em !important;*/
	
	float: left;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 4px;
	display: block;
	cursor: pointer;
}
.horizontal-list ul li:hover {
	background: #1ba1e2 !important;
	color: #ffffff !important;
}
.horizontal-list ul li.active {
	background: #1ba1e2 !important;
	color: #ffffff !important;
}
.horizontal-list dl dt {
	font-weight: bold;
}
.horizontal-list dl dt,
.horizontal-list dl dd {
	float: left;
}
.horizontal-list dl:after {
	clear: both;
	content: "";
}
/*.frame*/

.frame {
	text-align: left;
	padding: 20px 30px;
	z-index: 2;
	min-height: 100%;
	width: 50%;
	position: absolute;
}
.frame:nth-child(n+2){
	border-left:#bbb solid 1px;
}
.frame.snow-me{
	border-color:#33cc88;
}
.frame .doc-plus {
	font-size: 14px;
}
.frame .doc-add{
	padding: 10px 20px 20px;
}
.frame .mask {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: .2;
	z-index: 2;
}
.frame.snow-me .mask{
	background: #33cc88;
}
.frame.active .mask {
	display: none;
}
div.doc {
	width: 100%;
	background: #fff;
	border: 1px dashed #fff;
	border-bottom-color: #eee;
}
div.doc.ui-draggable-dragging{
	width:556px;
	z-index: 1000;
}
div.doc .doc-handle {
	position: absolute;
	left: 0;
	right: 0;
	margin: -1px 30px 0;
	height:21px;
	z-index: 1;
	display: none;
	cursor:move;
	background-color: whitesmoke;
}
div.doc .doc-tools {
	position: absolute;
	right: 30px;
	z-index: 1;
	display: none;
}
div.doc:hover {
	border:1px dashed #eee;
}
div.doc:hover .doc-handle,
div.doc:hover .doc-tools,
div.doc:hover .doc-plus {
	display: block;
}
div.doc .doc-info {
	padding: 20px 20px 0 20px;
	position: relative;
}
div.doc.active {
	border-color: #33cc88;
}
div.doc.active  .doc-handle{
	display: block;
	background-color:#33cc88;
}
div.doc footer {
	padding: 0 10px;
	font-size: .8em;
	color: gray;
	height: 20px;
	position: relative;
}
div.doc footer .doc-plus {
	display: none;
}
div.doc footer .doc-tools{
	right:5px;
}
div.doc h1 {
	font-size: 1.4em !important;
}
div.doc h2 {
	font-size: 1.3em !important;
}
div.doc h3 {
	font-size: 1.2em !important;
}
div.doc h4 {
	font-size: 1.1em !important;
}
div.doc h5,
div.doc h6 {
	font-size: 1em !important;
}
div.doc h1,
div.doc h2,
div.doc h3,
div.doc h4,
div.doc h5,
div.doc h6 {
	/*font-weight: 400 !important;*/
	font-weight: bold;
	line-height: initial;
	margin: 0 0 .8em;
	color: #555 !important;
}
div.doc .doc-content {
	margin: 0 0 .5em;
	color: #444 !important;
}
div.doc .doc-content ul li{
	list-style: initial;
	color: #444;
}
div.doc .doc-children{
	position: absolute;
	width:38px;
	right: 0;
	top:50%;
	opacity: .1;
	z-index: 1000;
	text-align: center;
	cursor: pointer;
	color:#000;
	height: 35px;
	overflow: hidden;
}
div.doc .doc-children i{
	font-size: 4em;
	margin-top: -12px;
}
div.doc .doc-children:hover{
	opacity: .4;
}
div.doc .doc-remark {

} 
div.doc .tools {
	margin-left: 10px;
}
div.doc .tools.del,
div.doc .tools.edit {
	font-size: 12px;
	margin: 5px 5px 0 5px;
}
div.doc .tools i {
	font-size: 10px;
}
.frame .user-input {
	padding: 20px 10px;
	margin: 20px 0;
	background: #999;
}
.frame .user-input .textarea {
	margin: 0;
}
.frame .user-input.editing {
	
} 
.frame .user-input textarea {
	height: 10em;
	width: 530px !important;
	min-height: 2em !important;
	resize: none;
	overflow: hidden;
}
.frame .user-input.editing textarea {
	margin-bottom: 10px;
	resize: none;
	overflow: auto;
}
.frame .user-input .form-actions {
	display: none;
}
.frame .user-input.editing .form-actions {
	display: block;
}
/*书签*/
/*.bookmarks {
	position: fixed;
	width: 68px;
	height: 68px;
	opacity: .1;
	z-index: 1000;
	text-align: center;
	cursor: pointer;
}
.bookmarks-left {
	left: 0;
}
.bookmarks-right {
	right: 75px;
}*/
.portlet-placeholder {
	border: 1px dotted gray;
	margin: 1em 0;
	height: 100px;
}
.ui-sortable-helper{
	height:100px !important;
	overflow: hidden;
}
/*metro*/
.metro p{
	line-height: 28px;
	font-size: 15px;
	color: inherit;
	letter-spacing: 1px;
}
.metro form {
	margin: initial;
}
.metro .input-control.select,
.metro .input-control.textarea {
	position: initial;
}
.metro.notify-container{
	right:75px;
}
/*编辑器*/

.edui-container,
.edui-container .edui-toolbar {
	box-shadow: none;
	/*z-index: 1 !important;*/
}
.edui-dialog-container .edui-combobox-menu {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 12px;
	box-shadow: 2px 2px 5px #d3d6da;
	min-width: 160px;
}
/**/

.accordion {
	/*border: 1px solid #EEEEEE;*/
}
.accordion.horizontal::after {
	clear: both;
	content: " ";
}
/*.accordion .frame {
	background: #fff;
	display: none;
}
.accordion .frame.opening {
.accordion .frame.opening {
	display: block;
}
/*.accordion .frame .heading {
	background: #eee;
}
.accordion .frame .content {
	border-left: 1px solid #EEEEEE;
	padding: 5px;
}
.accordion .frame.active .content {}*/