<!--左侧框--工作区-->
<div id="snow-left" class="bg-white">
	<div class="chouti" style="height:100%;">
		<div class="frame">
			<header>
				<form class="doc user-input native" style="display:none;">
					<input type="hidden" name="id" id="doc-id" value="" />
					<input type="hidden" name="moreId" id="doc-moreId" value="" />
					<input type="hidden" name="parentId" id="doc-parentId" value="" />
					<input type="hidden" name="documentId" id="doc-documentId" value="" />
					<!--<input type="hidden" name="position" id="doc-position" value="" />-->
					<script id="myEditor" name="content" type="text/plain">

					</script>
					<div class="form-actions text-right" style="margin-top: 10px;">
						<button name="btn-save" type="button" data-role="0" class="button primary">保存</button>
						<button name="btn-cancel" type="button" data-role="0" class="button">取消</button>
					</div>
				</form>
				<div class="doc-add text-center">
					<a href="javascript:;" class="doc-plus">拖拽文档到这里 或点击<i class="icon-plus on-right on-left"></i>新建</a>
				</div>
			</header>

			<footer>
				<div class="mask" />
			</footer>
		</div>
	</div>
</div>
<!--书签-->
<!--<div class="bookmarks bookmarks-left bg-gray">
	<h1>
	<i class="icon-arrow-left-3 fg-white"></i></h1>
</div>
<div class="bookmarks bookmarks-right bg-gray">
	<h1>
	<i class="icon-arrow-right-3 fg-white"></i></h1>
</div>-->

<!--编辑器-->
<script type="text/javascript" charset="utf-8" src="/static/js/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/ueditor.all.min.js"></script>
<script type="text/javascript" src="/static/js/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/kityformula-plugin/addKityFormulaDialog.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/kityformula-plugin/getKfContent.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/kityformula-plugin/defaultFilterFix.js"></script>

<script type="text/javascript">

$(function(){
	//实例化编辑器
	snow.ue = UE.getEditor('myEditor'),
	// accordion插件
	snow.chouti = snow.left.find('div.chouti').accordion({
		horizontal: true
	});
	// 追加一个frame
	snow.chouti.appendFrame = function(id){
		var _frame;
		// 追加一个frame
		snow.chouti.add({
			title: '',
			active: false,
			parentId:id
		}, function(frame) {
			frame.prepend('<footer><div class="mask" /></footer>');

			frame.prepend(
				$('<header />').append('<div class="doc-add text-center">' + '<a href="javascript:;" class="doc-plus">拖拽文档到这里 或点击<i class="icon-plus on-right on-left"></i>新建</a>' + '</div>')
			);
			frame.find('.mask').css({
				width: frame.outerWidth(),
				height: frame.outerHeight()
			});
			//
			_frame = frame.data('parentid',id);

		});
		
		return _frame;
	};
	// 向frame中追加文档
	snow.chouti.appendDoc = function(_frame,_docs){
		// 清空子节点
		_frame.children('div.doc').remove();
		$.each(_docs,function(index,_doc){
			snow.addDoc(
				_frame
				,snow.docTemplate.get(_doc)
			);
		});
		// 代码高亮
		SyntaxHighlighter.highlight();
	};
	// 文档编辑框
	snow.editor = snow.left.find('form.native').eq(0).click(function(e) {
		if (snow.left.find('form.editing').length) {
			return;
		}
		var _form = $(this);
		if (_form.hasClass('editing') && _form.find('textarea').val() == '') {} else if (!_form.hasClass('editing')) {
			_form.addClass('editing').slideDown(function() {
				snow.autoScroll(_form.closest('.frame'));
			});
		}
	}).on('click', 'button', function(e) { //表单保存(取消)事件
		e.stopPropagation();
		var _that = $(this),
			_form = _that.closest('form.user-input'),
			_frame = _form.closest('.frame'),
			_id = _form.find('input[name="id"]').val(),
			_moreId = _form.find('input[name="moreId"]').val(),
			_parentId = _form.find('input[name="parentId"]').val(),
			_documentId = _form.find('input[name="documentId"]').val(),
			//_position = _form.find('input[name="position"]').val(),
			_content = snow.ue.getContent(),//.replace(/[\s]+/g,' '),
			_contentTxt = snow.ue.getContentTxt();

		if (_that.attr('name') == 'btn-save') { 
			var _result,_title;
			// 提取标题
			var _pattern = /<h[123456]>([\w\W\s\S]+?)<\/h[123456]>/ig;
			while((_result = _pattern.exec(_content)) != null){
				_title = $.trim($(_result[0]).text());
				if(_title.length){
					break;
				}
			};
			//snow.log(_title);
			// 提取标签
			_pattern = /#([ \w\u4e00-\u9fa5]+?)#/ig;
			var _tags=[];
			while((_result = _pattern.exec(_contentTxt)) != null){
				_tags.push($.trim(_result[1]));
			};

			//保存
			$.post(snow.api.docSave
				,{
					id:_id,
					title:_title,
					content:_content,
					tags:_tags.join(','),
					moreId:_moreId,
					parentId:_parentId,
					documentId:_documentId
				}
				,function(result){
					if(result.ok){
						// 新建文档
						if ($.trim(_id).length) {
							// 编辑修改，修改form之前的doc
							var __doc = _form.prev('div.doc');
							__doc.find('.doc-content').html(_content);
							// 暂存内容
							__doc.data('content',_content);
						} else {
							// 在_form之后插入一个新doc
							_form.after(snow.docTemplate.get(result.data));
						}
						// 代码高亮
						SyntaxHighlighter.highlight();
					}
				}
			);
		} else { //取消

		}
		// 复原
		_form.removeClass('editing').slideUp(snow.speed, function() {
			snow.ue.reset();
			// 顶端新增按钮
			if (_form.prev('header').find('div.doc-add').length) {
				_form.prev('header').find('div.doc-add').fadeIn(function() {
					snow.autoScroll(_frame);
				});
			} else if (_form.prev('div.doc').length) {
				_form.prev('div.doc').fadeIn(function() {
					snow.autoScroll(_frame);
				});
			} else {
				snow.autoScroll(_frame);
			}
		});
	});

	//
	snow.left.on('mousemove','.frame div.doc .doc-info',function(e){
		var _this = $(this),
			_top = e.pageY-$(this).offset().top-25;

		if(_top < 20 || _top > _this.height())
			return;

		_this.children('div.doc-children').css({top:_top});

	}).on('click', '.frame div.doc .doc-children', function(e) {
		e.stopPropagation();
		var _doc = $(this).closest('.doc'),
			_moreId = _doc.data('moreid'),
			_id = _doc.data('id'),
			_frame = _doc.closest('.frame').next();

		// 如果frame存在
		if (_frame.length){
			// 如果父节点未改变，返回
			if(_moreId === _frame.data('moreid')){
				return;
			}else{
				_frame.nextAll('div.frame').remove();
				// 重绘
				snow.chouti.refresh();
			}
		}else {
			_frame = snow.chouti.appendFrame(_id);
		};
		// 标记moreid
		_frame.data('moreid',_moreId);
		// 
		if (snow.owner(_doc)) {
			_frame.addClass('snow-me');
		}else{
			_frame.removeClass('snow-me');
		}
		// 加载子节点
		$.post(snow.api.books,{moreId:_moreId},function(result){
			if (result.ok) {
				snow.chouti.appendDoc(_frame,result.data);
			};
		});
		// 复原编辑表单
		if (!_doc.hasClass('active')) {
			_doc.siblings('.active').removeClass('active');

			// 激活doc
			_doc.addClass('active');
		}
	}).on('click', '.frame .tools.del', function(e) {
		e.stopPropagation();
		
		// 如果未登录或者不是文档的所有者
		if(!snow.checkin()){
			openSign();
			return;
		}
		
		var _doc = $(this).closest('div.doc');
		if(!snow.owner(_doc)){
			return;
		}
		// 调用删除文档api
		$.post(snow.api.docDelete,{id:_doc.data('id')},function(result){
			if(result.ok){
				_doc.remove();
				//
				snow.autoScroll(_doc.closest('.frame'));
			}
		});

	}).on('click', '.frame .doc .tools.edit', function(e) {
		e.stopPropagation();
		// 如果有仍未提交的正在编辑中的表单，中断当前操作
		if (snow.left.find('form.editing').length > 0) {
			return;
		}

		// 如果未登录或者不是文档的所有者
		if(!snow.checkin()){
			openSign();
			return;
		}
		
		var _doc = $(this).closest('div.doc');
		
		if(!snow.owner(_doc)){
			return;
		}

		// 赋值
		_doc.hide();
		snow.editor.find('input[name="id"]').val(_doc.data('id'));
		snow.editor.find('input[name="moreId"]').val(_doc.data('moreid'));
		snow.editor.find('input[name="parentId"]').val(_doc.data('parentid'));
		snow.editor.find('input[name="documentId"]').val(_doc.data('documentid'));
		//snow.editor.find('input[name="position"]').val('');

		_doc.after(snow.editor.click().slideDown(snow.speed, function() {
			snow.ue.setContent(_doc.data('content'));
		}));

	}).on('click', '.frame .doc .doc-plus', function(e) {
		e.stopPropagation();
		
		// 如果未登录或者不是文档的所有者
		if(!snow.checkin()){
			openSign();
			return;
		}

		// 如果有仍未提交的正在编辑中的表单，中断当前操作
		if (snow.left.find('form.editing').length) {
			return;
		}

		var _doc = $(this).closest('div.doc');
		if (!_doc.next().hasClass('clone')) {
			snow.editor.find('textarea').val('');
			_doc.after(snow.editor);
		}

		// 赋值
		snow.editor.find('input[name="id"]').val('');
		snow.editor.find('input[name="moreId"]').val(_doc.data('moreid'));
		snow.editor.find('input[name="parentId"]').val(_doc.data('parentid'));
		snow.editor.find('input[name="documentId"]').val('');
		//snow.editor.find('input[name="position"]').val(_doc.data('moreid'));

		snow.editor.click().slideDown(snow.speed);
	}).on('click', '.frame header .doc-plus', function(e) {
		e.stopPropagation();
		
		// 如果未登录或者不是文档的所有者
		if(!snow.checkin()){
			openSign();
			return;
		}
		// 如果有仍未提交的正在编辑中的表单，中断当前操作
		if (snow.left.find('form.editing').length) {
			return;
		}

		var _doc = $(this).parent().hide().closest('header');

		// 赋值
		snow.editor.find('input[name="id"]').val('');
		snow.editor.find('input[name="moreId"]').val(_doc.closest('.frame').data('moreid'));
		snow.editor.find('input[name="parentId"]').val('');
		snow.editor.find('input[name="documentId"]').val('');
		//snow.editor.find('input[name="position"]').val('');

		_doc.after(snow.editor.click().slideDown(snow.speed));
	});

	// 文档模板
	snow.docTemplate = [];
	snow.docTemplate.push('<div class="doc" id="doc-<%.creator%>-<%.id%>" data-id="<%.id%>" data-moreid="<%.moreId%>" data-parentid="<%.parentId%>"');
		snow.docTemplate.push(' data-documentid="<%.documentId%>" data-updator="<%.updator%>" data-creator="<%.creator%>">');
	snow.docTemplate.push('<header class="doc-handle"></header>');
		snow.docTemplate.push('<div class="doc-tools">');
			snow.docTemplate.push('<a href="javascript:;" title="修改" class="tools edit icon-pencil"></a>');
			snow.docTemplate.push('<a href="javascript:;" title="删除" class="tools del icon-cancel-2"></a>');
		snow.docTemplate.push('</div>');
		snow.docTemplate.push('<article class="doc-info">');
			snow.docTemplate.push('<div class="doc-content">');
			snow.docTemplate.push('<%.content%>');	
			snow.docTemplate.push('</div>');
			snow.docTemplate.push('<div title="下级" class="doc-children doc-tools">');
			snow.docTemplate.push('<i class="icon-arrow-right-5"></i>');
			snow.docTemplate.push('</div>');
		snow.docTemplate.push('</article>');
		snow.docTemplate.push('<footer class="text-center">');
			snow.docTemplate.push('<div class="pos-abs">');
				snow.docTemplate.push('<span class="doc-remark"></span>');
			snow.docTemplate.push('</div>');
			snow.docTemplate.push('<div class="doc-tools">');
				snow.docTemplate.push('<span class="tools icon-new-tab"><i>456</i></span>');
				snow.docTemplate.push('<span class="tools icon-eye"><i>123</i></span>');
				snow.docTemplate.push('<span class="tools icon-thumbs-up"><i>123</i></span>');
			snow.docTemplate.push('</div>');
			snow.docTemplate.push('<a href="javascript:;" class="doc-plus">在下面<i class="icon-plus on-right on-left"></i>新建</a>');
		snow.docTemplate.push('</footer>');
	snow.docTemplate.push('</div>');
	snow.docTemplate.get = function(doc){
		return $(this.join('').replace(/<%.id%>/g,doc.articleId)
						.replace(/<%.moreId%>/g,doc.moreId)
						.replace(/<%.parentId%>/g,doc.parentId)
						.replace(/<%.creator%>/g,doc.creator)
						.replace(/<%.updator%>/g,doc.updator)
						.replace(/<%.documentId%>/g,doc.documentId)
						.replace(/<%.content%>/g,doc.content)).data('content',doc.content);
	};
	
	/* 增加单个文档
	 * frame:容器
	 * doc:文档
	 * before:文档位置，true表示最前，false表示最后
	 */
	snow.addDoc = function(frame, doc, before) {
		if (before) {
			frame.find('>header').after(doc);
		} else {
			frame.find('>footer').before(doc);
		}
	};
	// 首次加载
	$.post(snow.api.books,{},function(result){
		if (result.ok) {
			var _docs = result.data
				,_frame = snow.left.find('.frame').eq(0).data('moreid',0);

			$.each(_docs,function(index,_doc){
				snow.addDoc(
					_frame
					,snow.docTemplate.get(_doc)
				);

			});
			// 代码高亮
			SyntaxHighlighter.highlight();
		};
	});
	// 选中第一个文档
	//snow.left.find('.frame div.doc').eq(0).click();

	// // 书签事件
	// $('div.bookmarks').hover(
	// 	function() {
	// 		$(this).css('opacity', 0.8);
	// 	},
	// 	function() {
	// 		$(this).css('opacity', 0.1);
	// 	}
	// );
});
</script>