<!--左侧框--工作区-->
<div id="snow-left" class="bg-white">
	<div class="chouti" style="height:100%;">
		<div class="frame">
			<header>
				<form class="doc user-input native" style="display:none;">
					<input type="hidden" name="id" id="doc-id" value="" />
					<input type="hidden" name="parentId" id="doc-parentId" value="" />
					<input type="hidden" name="documentId" id="doc-documentId" value="" />
					<input type="hidden" name="position" id="doc-position" value="" />
					<script id="myEditor" name="content" type="text/plain">

					</script>
					<div class="form-actions text-right" style="margin-top: 10px;">
						<button name="btn-save" type="button" data-role="0" class="button primary">保存</button>
						<button name="btn-cancel" type="button" data-role="0" class="button">取消</button>
					</div>
				</form>
				<div class="doc-add text-center padding20">
					<a href="javascript:;" class="doc-plus">新<i class="icon-plus on-right on-left"></i>建</a>
				</div>
			</header>

			<footer>
				<div class="mask" />
			</footer>
		</div>
	</div>
</div>
<!--书签-->
<!--<div class="bookmarks bookmarks-left bg-gray">
	<h1>
	<i class="icon-arrow-left-3 fg-white"></i></h1>
</div>
<div class="bookmarks bookmarks-right bg-gray">
	<h1>
	<i class="icon-arrow-right-3 fg-white"></i></h1>
</div>-->
<script type="text/javascript">
$(function(){
	// accordion插件
	snow.chouti = snow.left.find('div.chouti').accordion({
		horizontal: true
	});
	// resize事件
	snow.docResize = function(_this) {
		//滚动条
		_this.append(snow.scrollbar);

		var _height = _this.outerHeight(),
			_first = _this.find('>header'),
			_last = _this.find('>footer'),
			_maxHeight = Math.abs(parseInt(_first.css('marginTop'))) + _last.offset().top + _last.outerHeight(),
			_step = _height / _maxHeight,
			_top = _this.data('position') || 0;

		if (_first === _last || _maxHeight <= _height) {
			snow.scrollbar.hide();
			_first.css({
				marginTop: 0
			});
			snow.scrollbar.drager.css({
				top: 0
			});
		} else {
			var _toTop = _height - _last.offset().top - _last.outerHeight()

			if (_toTop > 0) {
				_first.css('marginTop', '+=' + _toTop);
			} else {
				_first.css({
					marginTop: _top
				});
			}
			snow.scrollbar.show();
			snow.scrollbar.drager.css({
				maxHeight: _height,
				height: _height * _step,
				top: parseInt(_first.css('marginTop')) * _step * (-1)
			});
		}
		// 记录位置
		_this.data('position', _first.css('marginTop'));
	};

	// 文档编辑框
	snow.editor = snow.left.find('form.native').eq(0).click(function(e) {
		if (snow.left.find('form.editing').length) {
			return;
		}
		var _form = $(this);
		if (_form.hasClass('editing') && _form.find('textarea').val() == '') {} else if (!_form.hasClass('editing')) {
			_form.addClass('editing').slideDown(function() {
				snow.docResize(_form.closest('.frame'));
			});
		}
	}).on('click', 'button', function(e) { //表单保存(取消)事件
		e.stopPropagation();
		var _that = $(this),
			_form = _that.closest('form.user-input'),
			_frame = _form.closest('.frame'),
			_id = _form.find('input[name="id"]').val(),
			_parentId = _form.find('input[name="parentId"]').val(),
			_documentId = _form.find('input[name="documentId"]').val(),
			_position = _form.find('input[name="position"]').val(),
			_content = snow.ue.getContent(),//.replace(/[\s]+/g,' '),
			_contentTxt = snow.ue.getContentTxt();

		if (_that.attr('name') == 'btn-save') { 
			var _result,_title;
			// 提取标题
			var _pattern = /<h[123456]>([\w\W\s\S]+?)<\/h[123456]>/ig;
			while((_result = _pattern.exec(_content)) != null){
				_title = $.trim($(_result[0]).text());
				if(_title.length){
					break;
				}
			};
			//snow.log(_title);
			// 提取标签
			_pattern = /#([ \w\u4e00-\u9fa5]+?)#/ig;
			var _tags=[];
			while((_result = _pattern.exec(_contentTxt)) != null){
				_tags.push($.trim(_result[1]));
			};
			snow.log(_tags);
			//保存
			$.post(snow.api.docSave
				,{
					id:_id,
					title:_title,
					content:_content,
					tags:_tags.join(','),
					parentId:_parentId,
					documentId:_documentId,
					position:_position
				}
				,function(result){
					if(result.ok){
						// 新建文档
						if ($.trim(_id).length) {
							// 编辑修改，修改form之前的doc
							var __doc = _form.prev('div.doc');
							__doc.find('.doc-content').html(_content);
						} else {
							// 在_form之后插入一个新doc
							_form.after(snow.docTemplate.get(result.data));
						}
					}
				}
			);
		} else { //取消

		}
		// 复原
		_form.removeClass('editing').slideUp(snow.speed, function() {
			snow.ue.reset();
			// 顶端新增按钮
			if (_form.prev('div.doc-add').length) {
				_form.prev('div.doc-add').fadeIn(function() {
					snow.docResize(_frame);
				});
			} else if (_form.prev('div.doc').length) {
				_form.prev('div.doc').fadeIn(function() {
					snow.docResize(_frame);
				});
			} else {
				snow.docResize(_frame);
			}
		});
	});

	//
	snow.left.on('mousewheel', '.frame', function(e, delta) {
		// 只有滚动条才可滚动
		if (snow.scrollbar.is(':hidden')) {
			return;
		}
		var _this = $(this),
			_height = _this.outerHeight(),
			_first = _this.find('>header'),
			_last = _this.find('>footer'),
			_maxHeight = Math.abs(parseInt(_first.css('marginTop'))) + _last.offset().top + _last.outerHeight(),
			_step = _height / _maxHeight,
			_top = parseInt(_first.css('marginTop')) + (delta * 20);

		// 向上
		if (delta > 0 && _top > 0) {
			return;
		} else if (delta < 0 && parseInt(snow.scrollbar.drager.css('top')) + snow.scrollbar.drager.height() >= _height) {
			return;
		}

		_first.css({
			marginTop: _top
		});

		snow.scrollbar.drager.css({
			top: _top * _step * (-1)
		});
		// 保存当前位置
		_this.data('position', _top);

	}).on('mouseenter', '.frame', function(e) {
		// 刷新滚动条
		snow.docResize($(this));
	}).on('click', '.frame div.doc .doc-children', function(e) {
		e.stopPropagation();
		var _doc = $(this).closest('.doc'),
			_parentId = _doc.data('id'),
			_frame;

		// 追加一个frame
		if (_doc.closest('.frame').next().length){
			_frame = _doc.closest('.frame').next().data('parentid',_parentId);
		}else {
			snow.chouti.add({
				title: '',
				url: 'it.htm',
				active: false,
				parentId:_doc.data('id')
			}, function(frame) {
				frame.prepend('<footer><div class="mask" /></footer>');

				frame.prepend(
					$('<header />').append('<div class="doc-add text-center padding20">' + '<a href="javascript:;" class="doc-plus">新<i class="icon-plus on-right on-left"></i>建</a>' + '</div>')
				);
				frame.find('.mask').css({
					width: frame.outerWidth(),
					height: frame.outerHeight()
				});
				//
				_frame = frame;
			});
		};
		// 清空子节点
		_frame.children('div.doc').remove();
		// 加载子节点
		$.post(snow.api.docList,{parentid:_parentId},function(result){
			snow.log(result);
			if (result.ok) {
				var _docs = result.data;

				$.each(_docs,function(index,_doc){
					snow.addDoc(
						_frame.data('parentid',_parentId)
						,snow.docTemplate.get(_doc)
					);

				});
			};
		});
		// 复原编辑表单
		if (!_doc.hasClass('active')) {
			_doc.siblings('.active').removeClass('active');

			// 激活doc
			_doc.addClass('active');

		}

	}).on('click', '.frame .tools.del', function(e) {
		e.stopPropagation();
		var _doc = $(this).closest('div.doc');
		// 调用删除文档api
		$.post(snow.api.docDelete,{id:_doc.data('id')},function(result){
			if(result.ok){
				_doc.remove();
				//
				snow.docResize(_doc.closest('.frame'));
			}
		});

	}).on('click', '.frame .doc .tools.edit', function(e) {
		e.stopPropagation();
		// 如果有仍未提交的正在编辑中的表单，中断当前操作
		if (snow.left.find('form.editing').length > 0) {
			return;
		}

		var _doc = $(this).closest('div.doc').hide();
		// 赋值
		snow.editor.find('input[name="id"]').val(_doc.data('id'));
		snow.editor.find('input[name="parentId"]').val(_doc.data('parentid'));
		snow.editor.find('input[name="documentId"]').val(_doc.data('documentid'));
		snow.editor.find('input[name="position"]').val('');

		_doc.after(snow.editor.click().slideDown(snow.speed, function() {
			snow.ue.setContent(_doc.find('.doc-content').html());
		}));

	}).on('click', '.frame .doc .doc-plus', function(e) {
		e.stopPropagation();
		// 如果有仍未提交的正在编辑中的表单，中断当前操作
		if (snow.left.find('form.editing').length) {
			return;
		}

		var _doc = $(this).closest('div.doc');
		if (!_doc.next().hasClass('clone')) {
			snow.editor.find('textarea').val('');
			_doc.after(snow.editor);
		}

		// 赋值
		snow.editor.find('input[name="id"]').val('');
		snow.editor.find('input[name="documentId"]').val('');
		snow.editor.find('input[name="parentId"]').val(_doc.data('parentid'));
		snow.editor.find('input[name="position"]').val(_doc.data('id'));

		snow.editor.click().slideDown(snow.speed);
	}).on('click', '.frame header .doc-plus', function(e) {
		e.stopPropagation();
		// 如果有仍未提交的正在编辑中的表单，中断当前操作
		if (snow.left.find('form.editing').length) {
			return;
		}

		var _doc = $(this).parent().hide().closest('header');

		// 赋值
		snow.editor.find('input[name="id"]').val('');
		snow.editor.find('input[name="documentId"]').val('');
		snow.editor.find('input[name="parentId"]').val(_doc.closest('.frame').data('parentid'));
		snow.editor.find('input[name="position"]').val('');

		_doc.after(snow.editor.click().slideDown(snow.speed));
	});

	// 文档模板
	snow.docTemplate = [];
	snow.docTemplate.push('<div class="doc" data-id="<%.id%>" data-parentid="<%.parentId%>" data-documentid="<%.documentId%>" data-creator="<%.creator%>">');
	snow.docTemplate.push('<div class="doc-handle"></div>');
		snow.docTemplate.push('<div class="doc-tools">');
			snow.docTemplate.push('<a href="javascript:;" title="修改" class="tools edit icon-pencil"></a>');
			snow.docTemplate.push('<a href="javascript:;" title="删除" class="tools del icon-cancel-2"></a>');
		snow.docTemplate.push('</div>');
		snow.docTemplate.push('<article class="doc-info">');
			snow.docTemplate.push('<div class="doc-content">');
			snow.docTemplate.push('<%.content%>');	
			snow.docTemplate.push('</div>');
			snow.docTemplate.push('<div class="doc-children">');
			snow.docTemplate.push('<i class="icon-arrow-right-5"></i>');
			snow.docTemplate.push('</div>');
		snow.docTemplate.push('</article>');
		snow.docTemplate.push('<footer class="text-center">');
			snow.docTemplate.push('<div class="pos-abs">');
				snow.docTemplate.push('<span class="doc-remark"></span>');
			snow.docTemplate.push('</div>');
			snow.docTemplate.push('<div class="doc-tools">');
				snow.docTemplate.push('<span class="tools icon-new-tab"><i>456</i></span>');
				snow.docTemplate.push('<span class="tools icon-eye"><i>123</i></span>');
				snow.docTemplate.push('<span class="tools icon-thumbs-up"><i>123</i></span>');
			snow.docTemplate.push('</div>');
			snow.docTemplate.push('<a href="javascript:;" class="doc-plus">在下面<i class="icon-plus on-right on-left"></i>新建</a>');
		snow.docTemplate.push('</footer>');
	snow.docTemplate.push('</div>');
	snow.docTemplate.get = function(doc){
		return this.join('').replace('<%.id%>',doc.articleId)
						.replace('<%.parentId%>',doc.parentId)
						.replace('<%.creator%>',doc.creator)
						.replace('<%.documentId%>',doc.documentId)
						.replace('<%.content%>',doc.content);
	};
	
	/* 增加单个文档
	 * frame:容器
	 * doc:文档
	 * before:文档位置，true表示最前，false表示最后
	 */
	snow.addDoc = function(frame, doc, before) {
		if (before) {
			frame.find('>header').after(doc);
		} else {
			frame.find('>footer').before(doc);
		}
	}
	// 首次加载
	$.post(snow.api.docList,{},function(result){
		snow.log(result);
		if (result.ok) {
			var _docs = result.data;

			$.each(_docs,function(index,_doc){
				snow.addDoc(
					snow.left.find('.frame').eq(0).data('parentid',0)
					,snow.docTemplate.get(_doc)
				);

			});
		};
	});
	// 选中第一个文档
	//snow.left.find('.frame div.doc').eq(0).click();

	// // 书签事件
	// $('div.bookmarks').hover(
	// 	function() {
	// 		$(this).css('opacity', 0.8);
	// 	},
	// 	function() {
	// 		$(this).css('opacity', 0.1);
	// 	}
	// );
});
</script>