<!--中间的注册登录框-->
<div id="snow-sign" class="text-center fg-gray">
	<div style="margin-top:150px;font-size:2em;font-weight:bold;">
		<span class="padding10">niux<b style="color:red;">.</b>ren</span>
		<span class="padding10">程序员社区</span>
	</div>
	<div style="margin-top:30px;">
		<img src="/static/img/logo_100.png" />
	</div>
	<div class="user-sign fg-gray" style="margin-top: 200px;">
		<div>
			<h5 class="fg-gray">使用合作网站账户登录</h5>
		</div>
		<div class="">
			<span id="">
						<a href="#" id="weixin_login">
			<img src="https://open.weixin.qq.com/zh_CN/htmledition/res/assets/res-design-download/icon32_wx_logo.png" /> 微信</a>
			</span>
			<span style="margin-left:20px;">
						<a href="#" id="qq_login">
			<img src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/bt_white_24X24.png" /> QQ</a>
			</span>
		</div>

	</div>
</div>
<script type="text/javascript">
	$("#weixin_login").click(function() {
		window.open('/connect/wx_login', 'sign_dialog', 'width=600,height=520,menubar=no,scrollbars=yes, resizable=yes,status=yes,titlebar=no,toolbar=no,location=yes');
	});
</script>